@import 'tailwindcss';
@plugin "@tailwindcss/typography";

/* :root {
  --fill: oklch(98.52% 0.0192 90.54);
  --default: oklch(13.79% 0.025 71.38);
  --muted: oklch(20.25% 0.025 71.38);
  --accent: oklch(60.78% 0.1616 49.32);
} */

:root {
  --fill: oklch(13.79% 0.025 71.38);
  --default: var(--color-neutral-50);
  --muted: var(--color-neutral-400);
  --accent: oklch(73.34% 0.185189 53.4055);
}

@theme {
  --font-mono:
    'Kode Mono', ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace;

  --color-fill: var(--fill);
  --color-default: var(--default);
  --color-muted: var(--muted);
  --color-accent: var(--accent);
}

/* html,
body {
  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
} */
